.card {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
}

.card__image {
  width: 282px;
  height: 282px;
}

.card__description {
  display: flex;
  background-color: white;
  color: black;
  padding-top: 25px;
  padding-bottom: 25px;
  padding-left: 20px;
  padding-right: 20px;
  align-items: center;
  justify-content: space-between;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.card__like-button {
  background: transparent url(../images/like-inactive.svg) center;
  width: 21px;
  height: 18px;
  border: none;
  cursor: pointer;
}

.card__like-button_active {
  background-image: url("../images/like-active.svg");
}

.card__title {
  max-width: 220px;
  font-size: 24px;
  line-height: 29px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  font-weight: 900;
  margin: 0;
  line-height: 29.05px;
  color: rgba(0, 0, 0, 1);
}

.card__like-button:hover {
  opacity: 50%;
  transition: 0.25s;
}

.card__delete-btn {
  background: transparent url(../images/Trash.svg) center;
  position: absolute;
  border: none;
  width: 18px;
  height: 19.3px;
  margin: 18px 15px auto;
  align-self: flex-end;
  cursor: pointer;
}

.card__delete-btn:hover {
  opacity: 60%;
  transition: 0.25s;
}
